<html>
    <head>
        <title>HR Matchmaker</title>
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles.css">     
    </head>
    <body>
        <div id="app" class="container">
 
            <div v-if="!hide" class="jumbotron">
                <h3>Welcome to HR Matchmaker</h3>
                <h5>Like Match.com but for job seekers and employers</h5>
              <label>Selected: {{role}}</label>
            <div class="radio">
                    <label><input type="radio"
                                  v-model="role"
                                  value="login"
                                  name="role"
                                  @change="select"
                            >Login
                    </label>
                </div>
                <div class="radio">
                    <label><input type="radio"
                                  v-model="role"
                                  value="create"
                                  name="role"
                                  @change="select"
                            >Create Account
                    </label>
                </div>
            </div>

            <div v-if="showReg">
            <register 
                      :frst="firstname"
                      :lst="lastname"
                      :usr="createUsr"
                      :pass="createPass"
                      :slct="selected"
                      :f="failure"
                      :st="sharedState"
            >
            </register>
          
            </div>
            <login v-if="showLog"
                   :usr="username"
                   :pass="password"
                   :f="failure"
                   :st="sharedState"
            >   
            </login>

            <div v-if="main" class="jumbotron">
                <h3>Welcome {{username}}</h3>
            </div>
            
        </div>


        <template id="register">
            <div>
            <div v-if="!confirmUser" class="jumbotron">
                <h5>Fill out form below to create an account</h5>
                <input type="text" class="form-control" v-model="firstname" placeholder="firstname..." autofocus>
                <input type="text" class="form-control" v-model="lastname" placeholder="lastname...">
                <input type="text" class="form-control" v-model="createUsr" placeholder="create username...">
                <input type="password" class="form-control" v-model="createPass" placeholder="create password...">
                <div class="form-group">
                    <label for="sel1">Register as: {{selected}}</label>
                    <select class="form-control" id="sel1" v-model="selected">
                        <option>Select</option>
                        <option>Job Seeker</option>
                        <option>Employer</option>
                    </select>
                </div>
                <h6 v-if="failure" id="failure">*Username taken or account exists</h6>
                <h6>Already a user? <a href="#" @click="logUser">login</a></h6>
                <button class="btn btn-primary" @click="register">Create Account</button> 
            </div>
            <login v-if="confirmUser"></login>
            </div>      
        </template>

        <template id="login">
            <div>
            <div v-if="!confirmUser" class="jumbotron">
                <h5>Enter username and password</h5>
                <input type="text" class="form-control" v-model="username" placeholder="username...">
                <input type="password" class="form-control" v-model="password" placeholder="password...">
                 <h6 v-if="failure" id="failure">*Account does not exist</h6>
                 <h6>Do not have an account? <a href="#" @click="logUser">Create account</a></h6>
                <button class="btn btn-primary" @click="login">Login</button>
            </div>
            <register v-if="confirmUser"></register>
            <div>
        </template>


        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0-beta.6/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>   
</html>
