<html>
    <head>
        <title>HR Matchmaker</title>
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="styles.css">     
    </head>
    <body>
        <div id="app" class="container">


             <div v-if="!mainContentVisible" class="jumbotron">
                 <h3>Welcome to HR Matchmaker</h3>
                <h5>Like Match.com but for front-end job seekers and employers</h5>
                <h5>Fill out form below to create an account</h5>
                <h6>Already a user? <a href="#" @click="logUser">login</a></h6>
                <input type="text" class="form-control" v-model="firstname" placeholder="firstname..." autofocus>
                <input type="text" class="form-control" v-model="lastname" placeholder="lastname...">
                <input type="text" class="form-control" v-model="createUsr" placeholder="create username...">
                <input type="password" class="form-control" v-model="createPass" placeholder="create password...">
                <input type="email" class="form-control" v-model="email" placeholder="enter email...">
                <div class="form-group">
                    <label for="sel1">Register as: {{selected}}</label>
                    <select class="form-control" id="sel1" v-model="selected">
                        <option>Select</option>
                        <option>Job Seeker</option>
                        <option>Employer</option>
                    </select>
                </div>
                <h6 v-if="registrationFailure" id="failure">*Username taken or account exists</h6>
                <button class="btn btn-primary" @click="register">Create Account</button>
            </div>
            
             <div v-if="log" class="jumbotron">
                <h5>Enter username and password</h5>
                <input type="text" class="form-control" v-model="username" placeholder="username...">
                <input type="password" class="form-control" v-model="password" placeholder="password...">
                 <h6 v-if="loginFailure" id="failure">*Account does not exist</h6>
                <button class="btn btn-primary" @click="login">Login</button>
            </div>

            <main-content  :usr="createUsr" :u="username" v-if="hideMain"></main-content>
   
        </div>

    <template id="main-content">
            
        <div class="root">
                <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <a class="navbar-brand" href="#">HR Matchmaker</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                    <li><a @click="findUser" data-toggle="modal" data-target="#user-info" href="#"><span class="glyphicon glyphicon-user"></span>Welcome: {{showUsername}}</a></li>
                    <li><a data-toggle="modal" data-target="#create-profile" href="#"><span class="glyphicon glyphicon-user"></span>Create Profile</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                </div>
            </nav>
        <!--<pre>{{$data}}</pre>-->
            <div class="container">
                <div class="jumbotron">
                        <div class="input-group">
                            <input type="text" id="browse" class="browse form-control" placeholder="Filter profiles by field, skills, experience, or location...">
                            <!-- <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Browse</button>
                            </span> -->
                        </div>    
                    <div v-if="isJobSeeker" class="display-employer-profiles">
                        <ul class="list-group">
                            <label>Current Profiles</label>
                            <li class="list-group-item" v-for="data in employerData">
                               <span>Company: {{data.company}}</span><br>
                               <span>Position: {{data.title}}</span><br>
                               <span>Applicant must know: {{data.skills}}</span><br>
                               <span>Required experience: {{data.exp}} year(s)</span><br>
                               <span>Required education: {{data.edu}}</span><br>
                               <span>Job location: {{data.loc}}</span><br>
                               <span>Employer contact: <a href="#">{{data.email}}</a></span>
                            </li>
                        </ul>
                    </div>
                    <div v-if="isEmployer" class="display-seeker-profiles">
                    <ul class="list-group">
                        <label>Current Profiles</label>
                        <li class="list-group-item" v-for="data in seekerData">
                            <span>Name: {{data.name}}</span><br>
                            <span>Field: {{data.field}}</span><br>
                            <span>Skills: {{data.skills}}</span><br>
                            <span>Experience: {{data.exp}} year(s)</span><br>
                            <span>Education: {{data.edu}}</span><br>
                            <span>Location: {{data.loc}}</span><br>
                            <span>Contact: <a href="#">{{data.email}}</a></span>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
         <!-- User Info Modal -->
            <div class="container">
            <div class="modal fade" id="user-info" role="dialog">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">User Info</h4>
                    </div>
                    <div class="modal-body">     
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Email</th>
                                <th>Account Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="user in loginDetails">
                                <td>{{user.f}}</td>
                                <td>{{user.l}}</td>
                                <td>{{user.u}}</td>
                                <td>{{user.p}}</td>
                                <td>{{user.e}}</td>
                                <td>{{user.s}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            </div>

                <div class="container">
                <div class="modal fade" id="create-profile" role="dialog">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Profile</h4>
                        </div>
                        <div class="modal-body">     
                        <!-- Create-Profile for Employer -->
                        <div v-if="isEmployer">
                            <employer></employer>  
                            </div>
                        <!-- Create-Profile for Job Seekers -->
                        <div v-if="isJobSeeker">
                            <job-seeker></job-seeker>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
        </div>
    </template>

        <template id="job-seeker">
            <div>
                <form role="form">
                <div class="form-group">
                    <label for="field">What is your name?</label>
                    <input type="text" v-model="name" class="form-control" id="field">
                </div>
                <div class="form-group">
                    <label for="field">You are looking for a job in what field?</label>
                    <input type="text" v-model="field" class="form-control" id="field">
                </div>
                <div class="form-group">
                    <label for="skills">What Technologies do you have experience with?</label>
                    <input type="text" v-model="skills" class="form-control" id="skills">
                </div>
                    <div class="form-group">
                    <label for="exp">How many years of relevant experience do you have?</label>
                    <select v-model="exp" class="form-control">
                        <option v-for="(index, n) in 30">{{n}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ed">Education</label>
                    <select v-model="edu" class="form-control">
                        <option v-for="ed in education">{{ed}}</option>
                    </select>
                </div>
                    <div class="form-group">
                    <label for="loc">You are searching for jobs in which location: </label>
                    <input type="text" v-model="loc" class="form-control" id="loc">
                </div>
                    <div class="form-group">
                    <label for="email">What is your preferred contact email?</label>
                    <input type="email" v-model="email" class="form-control" id="email">
                </div>
                <button @click="addSeekerProfile" class="btn btn-default">Create Profile</button>
                </form>  
            </div>
        </template>

        <template id="employer">
            <div>
                <form role="form">
                     <div class="form-group">
                        <label for="field">Company Name: </label>
                        <input type="text" v-model="company" class="form-control" id="field">
                    </div>
                    <div class="form-group">
                        <label for="field">Job Title: </label>
                        <input type="text" v-model="title" class="form-control" id="field">
                    </div>
                    <div class="form-group">
                        <label for="skills">Applicant must know the following technologies: </label>
                        <input type="text" v-model="skills" class="form-control" id="skills">
                    </div>
                        <div class="form-group">
                        <label for="exp">Applicant should have how many years of relevant experience:</label>
                         <select v-model="exp" class="form-control">
                            <option v-for="(index, n) in 30">{{n}}</option>
                         </select>
                    </div>
                    <div class="form-group">
                        <label for="edu">Education required for this position:</label>
                        <select v-model="edu" class="form-control">
                            <option v-for="ed in education">{{ed}}</option>
                        </select>
                    </div>
                        <div class="form-group">
                        <label for="loc">Job Location:</label>
                        <input type="text" v-model="loc" class="form-control" id="loc">
                    </div>
                        <div class="form-group">
                        <label for="email">Company Contact:</label>
                        <input type="email" v-model="email" class="form-control" id="email">
                    </div>
                    <button  @click="addEmployerProfile" class="btn btn-default">Create Profile</button>
                </form>  
            </div>
        </template>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0-beta.6/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>   
</html>
