<html>
    <head>
        <title>HR Matchmaker</title>
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles.css">     
    </head>
    <body>
        <div id="app" class="container">


             <div v-if="!mainContentVisible" class="jumbotron">
                 <h3>Welcome to HR Matchmaker</h3>
                <h5>Like Match.com but for job seekers and employers</h5>
                <h5>Fill out form below to create an account</h5>
                <h6>Already a user? <a href="#" @click="logUser">login</a></h6>
                <input type="text" class="form-control" v-model="firstname" placeholder="firstname..." autofocus>
                <input type="text" class="form-control" v-model="lastname" placeholder="lastname...">
                <input type="text" class="form-control" v-model="createUsr" placeholder="create username...">
                <input type="password" class="form-control" v-model="createPass" placeholder="create password...">
                <div class="form-group">
                    <label for="sel1">Register as: {{selected}}</label>
                    <select class="form-control" id="sel1" v-model="selected">
                        <option>Select</option>
                        <option>Job Seeker</option>
                        <option>Employer</option>
                    </select>
                </div>
                <h6 v-if="registrationFailure" id="failure">*Username taken or account exists</h6>
                <button class="btn btn-primary" @click="register">Create Account</button>
            </div>
            
             <div v-if="log" class="jumbotron">
                <h5>Enter username and password</h5>
                <input type="text" class="form-control" v-model="username" placeholder="username...">
                <input type="password" class="form-control" v-model="password" placeholder="password...">
                 <h6 v-if="loginFailure" id="failure">*Account does not exist</h6>
                <button class="btn btn-primary" @click="login">Login</button>
            </div>

            <main-content :usr="createUsr" v-if="hideMain"></main-content>
           
           
           
        </div>
<!--
        <template id="register">
            <div>
               
            <div v-if="clicked" class="jumbotron">
                 <h3>Welcome to HR Matchmaker</h3>
                <h5>Like Match.com but for job seekers and employers</h5>
                <h5>Fill out form below to create an account</h5>
                <h6>Already a user? <a href="#" @click="logUser">login</a></h6>
                <input type="text" class="form-control" v-model="firstname" placeholder="firstname..." autofocus>
                <input type="text" class="form-control" v-model="lastname" placeholder="lastname...">
                <input type="text" class="form-control" v-model="createUsr" placeholder="create username...">
                <input type="password" class="form-control" v-model="createPass" placeholder="create password...">
                <div class="form-group">
                    <label for="sel1">Register as: {{selected}}</label>
                    <select class="form-control" id="sel1" v-model="selected">
                        <option>Select</option>
                        <option>Job Seeker</option>
                        <option>Employer</option>
                    </select>
                </div>
                <h6 v-if="registrationFailure" id="failure">*Username taken or account exists</h6>
                <button class="btn btn-primary" @click="register">Create Account</button>
            </div>
                <login v-if="user">

                </login>
                <main-content :usr="username" v-if="!clicked"></main-content>
            </div>
            
                
            
        </template>

        <template id="login">
            <div>
            <div v-if="!log" class="jumbotron">
                <h5>Enter username and password</h5>
                <input type="text" class="form-control" v-model="username" placeholder="username...">
                <input type="password" class="form-control" v-model="password" placeholder="password...">
                 <h6  id="failure">*Account does not exist</h6>
                <button class="btn btn-primary" @click="login">Login</button>
            </div>
            <main-content v-if="log"></main-content>
            <div>
        </template>-->


        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0-beta.6/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>   
</html>
