.form-control{
    width: 300px;
    margin-top: 10px;
}
#sel1{
    width: 150px;
}
label{
    margin-top: 10px;
    font-size: 12px;
}
#failure{
    color: darkred;
    font-weight: bolder;
}
.navbar-inverse{
    background-color: lightblue !important;
}