
body{
    font-family: 'Lato';
}
.form-control{
    width: 300px;
    margin-top: 10px;
}
#browse{
    width: 500px;
    margin-top: 0;
}
#sel1{
    width: 150px;
}
label{
    margin-top: 10px;
    font-size: 12px;
}
#failure{
    color: darkred;
    font-weight: bolder;
}
.navbar-inverse{
    background-color: lightblue !important;   
    border: none !important;
}
.display-employer-profiles{
    border: 2px solid darkmagenta;
}
.display-seeker-profiles{
    border: 2px solid darkgreen;
}

