
body{
    font-family: 'Lato';
}
.form-control{
    width: 300px;
    margin-top: 10px;
}
#browse{
    width: 500px;
    margin-top: 0;
}
#sel1{
    width: 150px;
}
label{
    margin-top: 10px;
    font-size: 12px;
}
#failure{
    color: darkred;
    font-weight: bolder;
}
.navbar-inverse{
    background-color: lightgreen !important;
    border: none !important;
}
.submitted{
    color: green;
}
.list-group{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px #888888;
}
.list-group-item{
    
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px #888888;
}
.profile{
    background-color: white !important; 
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px #888888;
    height: 75px;
}
#pro{
    font-size: 35px !important;
    color: darkslategray !important;
    margin-left: 10px !important;
}


